<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="tablero">
    <div id="fila" *ngFor="let fila of arr;let i = index">
      <div [id]="'celula' + celula" *ngFor="let celula of fila; let j = index" (click)="settearData(i,j)"></div>
    </div>
  </div>
</ion-content>
