#tablero {
 width: 100%;
 height: 100%;
 margin: 2vh;
}
#fila{
  display: flex;
}
#celula1{
  width: 20px;
  height: 20px;
  background: #be23a2;
  margin: 1px;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,254);
}
#celula1:hover{
  background: #e72bc5;
}
#celula0{
  width: 20px;
  height: 20px;
  background: #0c000a;
  margin: 1px;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,254);
}
#celula0:hover{
  background: #4d4a4c;
}